@media (max-width: 1919px) {
    .menu {
        width: 265px;
        &__title {
            display: none;
        }
        &__item {
            a {
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 11px;
                line-height: 20px;
                width: 128px;
            }
        }
    }
    .container {
        max-width: 1011px;
    }
    .main {
        margin-left: 265px;
        padding: 0 30px 50px 30px;
        max-width: 1071px;
        &__phone {
            display: none;
        }
    }
    .tariff {
        &__info {
            width: 1004px;
        }
        &__manager,
        &__sms {
            width: 317px;
            a {
                font-size: 14px;
                line-height: 27px;
            }
            svg {
                right: -33px;
            }
            .svg-left {
                right: -67px;
            }
        }
        &__manager {
            padding-left: 107px;
            a {
                width: 107px;
            }
        }
        &__question {
            width: 1004px;
            height: 114px;
        }
        &__question-mark {
            width: 114px;
            height: 114px;
        }
        &__question-desrp {
            padding: 30px 100px 30px 40px;
            width: 897px;
            p {
                font-size: 14px;
                line-height: 27px;
            }
        }
    }
    .order {
        margin-top: 30px;
        &__block {
            width: 317px;
            height: 171px;
            padding: 34px 25px 0 27px;
            &_title {
                img {
                    margin-right: 13px;
                }
                p {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
            &_description {
                margin-top: 10px;
                padding-left: 52px;
                font-size: 14px;
                line-height: 19px;
            }
        }
        &__big-block {
            width: 490px;
            height: 171px;
            background: url(../img/order/order-bg.png) no-repeat rgb(255, 255, 255);
            background-position: right top;
            &:first-child {
                p {
                    width: 250px;
                }
            }
            &:nth-child(2) {
                background: url(../img/order/peoples-bg.png) no-repeat rgb(255, 255, 255);
                background-position: right top;
                p {
                    z-index: 2;
                    width: 285px;
                }
            }
        }
        &__picture {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            object-fit: cover;
            width: 319.14px;
            height: 214.91px;
        }
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    .rising {
        margin-top: 30px;
        &__block {
            background: url(../img/rising/lamp-bg.png) no-repeat right top rgb(255, 255, 255);
            margin-top: 20px;
            width: 491px;
            height: 246px;
            &:nth-child(2) {
                background: url(../img/rising/worker-bg.png) no-repeat right top rgb(255, 255, 255);
            }
        }
        p {
            margin-top: 20px;
            font-size: 14px;
            line-height: 19px;
            width: 280px;
        }
        .second-block {
            width: 300px;
            span {
                display: none;
            }
        }
        &__picture {
            display: none;
        }
    }
    .slide__bussines {
        overflow: hidden;
        width: 1011px;
        height: 910px;
        padding: 30px 20px 0 20px;
        grid-template-columns: none;
        grid-template-rows: 233px 540px;
        column-gap: 30px;
        .info {
            display: flex;
            margin-top: 0;
            &_img {
                left: initial;
                right: -34px;
            }
            &_descrp {
                width: 250px;
                font-size: 14px;
                line-height: 19px;
            }
            &_hr {
                display: none;
            }
            &_wrap-right {
                padding-top: 80px;
                margin-left: 28px;
            }
            &_list {
                display: grid;
                grid-template-columns: 340px 315px;
                grid-template-rows: 40px 40px;
                gap: 20px;
                li {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
        .packages {
            margin-top: 130px;
        }
        .package {
            width: 303px;
            height: 507px;
            &_stars {
                width: 255px;
            }
            &_name {
                font-size: 15px;
                line-height: 19px;
            }
            &_list {
                margin-top: 5px;
                li {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
    }
    .slide__all-in {
        grid-template-rows: 192px 540px;
        .info {
            &_title {
                margin-top: 20px;
            }
            &_img {
                width: 190px;
                right: -50px;
            }
            &_descrp {
                width: 272px;
            }
            &_wrap-right {
                padding-top: 30px;
                margin-left: 25px;
            }
            &_list {
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto;
                gap: 15px;
                li {
                    display: flex;
                    align-items: center;
                    margin-top: 0;
                    &:nth-child(3),
                    &:nth-child(6) {
                        display: none;
                    }
                    &:nth-child(7) {
                        grid-column: 2;
                    }
                    &:nth-child(4) {
                        grid-row-start: 1;
                    }
                    &:nth-child(1) {
                        grid-row-start: 2;
                    }
                }
            }
            &_other {
                margin-right: 147px;
                float: right;
                font-size: 14px;
                line-height: 19px;
                color: #8F9EB2;
                opacity: 0.5;
            }
        }
        .package {
            height: 640px;
            &_list {
                display: flex;
                flex-direction: column;
                align-items: center;
                li {
                    width: 260px;
                    margin-top: 20px;
                }
            }
        }
    }
    .slide__start {
        grid-template-rows: 349px 541px;
        background: url(../img/service/ellipse-bg.png) no-repeat left bottom rgb(255, 255, 255);
        .info {
            &_title {
                margin-top: 123px;
            }
            &_descrp {
                width: 263px;
            }
            &_img {
                width: 180px;
                top: 30px;
                right: 30px;
            }
            &_subtitle {
                margin-top: 72px;
            }
            &_other {
                margin-top: 10px;
                margin-right: 149px;
                float: right;
                font-size: 14px;
                line-height: 19px;
            }
        }
        .packages {
            margin-top: 30px;
            align-items: flex-start;
        }
        .package {
            Width: 222px;
            Height: 370px;
            &_stars {
                width: 190.52px;
                height: 39px;
            }
            &_name {
                font-size: 14px;
                line-height: 19px;
            }
            &_list {
                li {
                    font-size: 14px;
                    line-height: 19px;
                    margin-top: 20px;
                }
            }
        }
    }
    .slide-region_one,
    .slide-region_two {
        .region {
            width: 1011px;
            height: 910px;
            padding: 30px 0 0 30px;
            &_descrp {
                font-size: 14px;
                line-height: 19px;
                width: 414px;
            }
            &_hr {
                margin-top: 43px;
                margin-bottom: 20px;
                width: 414px;
            }
            &_wrap-top {
                display: flex;
            }
            &_wrap-left {
                margin-right: 30px;
            }
            &_subtitle {
                margin: 0;
            }
            &_descrp-second {
                width: 460px;
            }
            &_privilege {
                grid-template-columns: 331px 409px;
                p {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
            &_map {
                display: none;
            }
        }
    }
    .slide-region_two {
        .region {
            background: url(../img/region/russia-bg.png) no-repeat right bottom rgb(255, 255, 255);
            &_map {
                display: none;
            }
        }
    }
    .slide-region_one {
        .region {
            background: url(../img/region/region-bg.png) no-repeat right bottom rgb(255, 255, 255);
            width: 1011px;
            height: 473px;
            &_hr {
                margin: 30px 0
            }
            &_descrp {
                width: 500px;
            }
            &_descrp-second {
                width: 540px;
                margin-top: 20px;
            }
        }
    }
    .slide-region_three {
        .region {
            background: url(../img/region/product-managment-bg.png) no-repeat right bottom rgb(255, 255, 255);
            &_descrp {
                width: 560px;
            }
            &_list {
                li {
                    padding-left: 35px;
                    font-size: 14px;
                    line-height: 19px;
                    background: url(../icons/service/ul-chek.png) no-repeat 0 50%;
                    background-size: 20px 20px;
                }
            }
        }
    }
    .service {
        &__descrp {
            font-size: 14px;
            line-height: 19px;
        }
    }
    .button {
        font-size: 16px;
        line-height: 22px;
        &_rising {
            bottom: 30px;
            Width: 266px;
            Height: 50px
        }
        &_link {
            padding: 13px;
            width: 255px;
            height: 50px;
        }
        &_start {
            width: 190.26px;
            height: 50px;
        }
        &_region-slidetwo {
            margin-top: 40px;
            position: static;
        }
        &_region {
            Width: 411px;
            Height: 50px;
            bottom: 30px;
        }
        &_slide {
            width: 60px;
            height: 60px;
            svg {
                width: 28px;
            }
        }
    }
    .title {
        font-size: 24px;
        line-height: 33px;
        &_rising {
            font-size: 14px;
            line-height: 19px;
        }
        &_info {
            font-size: 18px;
            line-height: 25px;
            margin-top: 51px;
        }
        &_region {
            font-size: 18px;
            line-height: 25px;
            margin-top: 0;
        }
    }
    .subtitle {
        font-size: 18px;
        line-height: 25px;
        &_info {
            width: 280px;
            font-size: 14px;
            line-height: 19px;
        }
        &_region {
            font-size: 14px;
            line-height: 19px;
        }
    }
    #btn-sale {
        top: 277px;
    }
}

@media (max-width: 1349px) {
    .menu {
        height: 640px;
        left: 0;
        transform: translateX(-100%);
        &_active {
            transform: translateX(0);
            z-index: 3;
        }
    }
    .container {
        max-width: 728px;
    }
    .main {
        border: none;
        margin: 0 auto;
        padding: 0 20px;
        padding-bottom: 40px;
        max-width: 768px;
        &__header {
            width: calc(100% + 40px);
            margin-left: -20px;
            align-items: center;
            display: flex;
            height: 60px;
            background: #fff;
        }
        &__hamburger {
            margin-right: 12px;
            cursor: pointer;
            width: 60px;
            height: 100%;
            background: url(../icons/menu/hamburger.png) no-repeat center $blue;
        }
    }
    .tariff {
        margin-top: 0;
        &__info {
            margin-left: -20px;
            width: calc(100% + 40px);
            height: 158px;
            display: grid;
            grid-template-columns: auto 1fr;
        }
        &__current {
            padding: 30px 0 0 40px;
            height: 100%;
            width: 384px;
            P {
                font-size: 14px;
                line-height: 29px;
            }
            &_wrap-link {
                margin-top: 23px;
                svg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        &__wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        &__manager,
        &__sms {
            align-items: start;
            height: 50%;
            a {
                margin: 30px 0 0 38px;
                width: 236px;
            }
            width: auto;
            padding: 0;
            margin: 0;
            svg {
                right: auto;
                left: 254px;
            }
        }
        &__sms {
            a {
                margin-top: 3px;
            }
            svg {
                top: 27px
            }
        }
        &__question {
            display: grid;
            grid-template-columns: auto 1fr;
            margin-top: 20px;
            width: 728px;
            height: 126px;
        }
        &__question-mark {
            width: 126.38px;
            height: 126.38px;
        }
        &__question-desrp {
            padding: 23px 15px 23px 40px;
            width: auto;
            font-size: 14px;
            line-height: 27px;
        }
    }
    .order {
        &__block {
            margin-top: 20px;
            padding: 20px 24px 0 25px;
            width: 229px;
            height: 219px;
            &_title {
                flex-direction: column;
                // justify-content: flex-start;
                align-items: flex-start;
                P {
                    margin-top: 15px;
                }
            }
            &_description {
                padding: 0;
                font-size: 14px;
                line-height: 19px;
            }
        }
        &__big-block {
            width: 354px;
            height: 147px;
            background: #fff;
            &:nth-child(2) {
                background: #fff;
            }
            .order__block_title {
                flex-direction: row;
                align-items: center;
                p {
                    margin: 0;
                }
            }
            .order__block_description {
                margin-top: 0;
                padding-left: 53px;
            }
        }
    }
    .rising {
        &__block {
            background: url(../img/rising/lamp-bg768.png) no-repeat right bottom rgb(255, 255, 255);
            padding: 20px;
            margin: 0;
            width: 354px;
            height: 355.12px;
            &:nth-child(2) {
                background: url(../img/rising/worker-bg768.png) no-repeat right bottom rgb(255, 255, 255);
            }
            p,
            .second-block {
                width: 208px;
            }
            .second-block {
                width: 220px;
            }
        }
    }
    .slide-region_one,
    .slide-region_two {
        .region {
            width: 728px;
            height: 1069px;
            &_wrap-top {
                flex-direction: column;
            }
            &_descrp-second {
                width: 530px;
            }
            &_hr {
                position: absolute;
                top: 190px;
            }
            &_subtitle {
                margin-top: 30px;
            }
            &_subtitle-second {
                margin-top: 55px;
            }
            &_privilege {
                grid-template-columns: 298px 262px;
                column-gap: 30px;
            }
        }
    }
    .slide-region_two {
        .region {
            margin-top: 0;
            background: url(../img/region/russia-bg768.png) no-repeat right bottom rgb(255, 255, 255);
        }
    }
    .slide-region_one {
        .region {
            background: url(../img/region/region-bg768.png) no-repeat right bottom rgb(255, 255, 255);
            width: 728px;
            height: 829px;
            &_hr {
                position: static;
                margin: 20px 0
            }
            &_subtitle {
                margin-top: 20px;
            }
            &_privilege {
                grid-template-columns: 320px 262px;
            }
        }
    }
    .slide-region_three {
        .region {
            background: url(../img/region/product-managment-bg768.png) no-repeat right bottom rgb(255, 255, 255);
            &_list {
                li {
                    margin-top: 12.5px;
                }
            }
        }
    }
    .slide__bussines {
        margin-top: 0;
        grid-template-rows: 360px auto;
        background: url(../img/service/bussines768.png) no-repeat 528px 10px rgb(255, 255, 255);
        width: 728px;
        height: 1069px;
        padding: 30px 20px;
        .info {
            padding: 0 10px;
            display: block;
            &_img {
                display: none;
            }
            &_descrp {
                width: 550px;
            }
            &_wrap-right {
                margin: 20px 0 0 0;
                padding: 0;
            }
            &_list {
                margin-top: 21px;
                grid-template-columns: 333px 315px;
                li {
                    padding-left: 32px;
                }
            }
        }
        .packages {
            // display: none;
            margin-top: 30px;
            align-items: flex-start;
        }
        .package {
            Width: 216px;
            Height: 508px;
            &_stars {
                margin-top: 15px;
                width: 197px;
                height: 63px;
                flex-direction: column;
            }
            &_name {
                margin: 0;
            }
            &_list {
                margin-top: 0;
                width: 192px;
                li {
                    margin-top: 18px;
                }
            }
        }
    }
    .slide__all-in {
        grid-template-rows: 303px auto;
        background: url(../img/service/all-in768.png) no-repeat 528px 10px rgb(255, 255, 255);
        .info {
            &_descrp {
                width: 352px;
            }
            &_other {
                margin-right: 167px;
            }
        }
        .packages {
            margin-top: 20px;
        }
        .package {
            Width: 216px;
            Height: 690px;
            &_list {
                margin-top: 0;
                width: 192px;
                li {
                    width: auto;
                    margin-top: 14px;
                }
            }
        }
    }
    .slide__start {
        grid-template-rows: 360px auto;
        background: url(../img/service/start768.png) no-repeat 528px 10px rgb(255, 255, 255);
        padding: 30px 20px;
        .info {
            padding: 0 10px;
            display: block;
            &_title {
                margin-top: 29px;
            }
            &_descrp {
                width: 340px;
            }
            &_subtitle {
                margin-top: 0;
            }
            &_wrap-right {
                width: auto;
                margin-top: 20px;
            }
            &_list {
                align-items: center;
                margin-top: 22.5px;
                grid-template-columns: 284px 315px;
                column-gap: 40px;
                li {
                    padding-left: 32px;
                }
            }
            &_other {
                margin-top: 0;
                margin-right: 198px;
            }
        }
        .packages {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fill, 334px);
        }
        .package {
            width: 100%;
            height: 283px;
            &_stars {
                margin-top: 20px;
                width: 190.52px;
                height: 39px;
                flex-direction: row;
            }
            &_name {
                margin: 15px;
            }
            &_list {
                margin-top: 0;
                width: 291px;
                li {
                    margin-top: 18px;
                }
            }
        }
    }
    .title {
        font-size: 24px;
        line-height: 33px;
        &_tariff {
            font-size: 18px;
            line-height: 25px;
        }
        &_info {
            margin-top: 68px;
        }
    }
    .subtitle {
        &_tariff {
            font-size: 14px;
            line-height: 19px;
        }
        &_region {
            margin: 0;
        }
    }
    .button {
        &_rising {
            bottom: 20px;
            Width: 266px;
            Height: 50px;
        }
        &_region {
            position: static;
            margin-top: 20px;
        }
        &_package {
            bottom: 16px;
            width: 184px;
            height: 50px;
        }
        &_start {
            width: 255px;
            height: 50px;
        }
        &_slide {
            display: none;
        }
    }
}

@media (max-width: 765px) {
    .container {
        max-width: 280px
    }
    .main {
        max-width: 320px;
        padding: 0 20px 40px 20px;
        &__header {
            height: 48px;
        }
        &__hamburger {
            margin-right: 14px;
        }
    }
    .tariff {
        &__info {
            height: 158px;
            display: block;
        }
        &__current {
            width: 100%;
            padding: 30.5px 0 0 20px;
        }
        &__wrap {
            display: none;
        }
        &__question {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            &-mark {
                width: 100%;
                height: 24px;
                svg {
                    height: 10px;
                    width: auto;
                }
            }
            &-desrp {
                padding: 10px 20px;
                height: 163px;
                p {
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
    }
    .order {
        &__wrap {
            display: grid;
            grid-template-columns: repeat(auto-fill, 130px);
        }
        &__block {
            margin-top: 20px;
            padding: 10px 0 0 10px;
            width: auto;
            height: 130px;
            &_title {
                img {
                    width: auto;
                    height: 24px;
                    object-fit: cover;
                }
                p {
                    width: 110px;
                    font-size: 13px;
                    line-height: 16px;
                    margin-top: 10px;
                }
            }
            &_description {
                display: none;
            }
        }
        &__big-block {
            .order__block_title {
                flex-direction: column;
                align-items: flex-start;
                p {
                    margin-top: 10px;
                    width: auto;
                }
            }
        }
    }
    .rising {
        &__wrap {
            flex-direction: column;
        }
        &__block {
            background: url(../img/rising/lamp-bg320.png) no-repeat right bottom rgb(255, 255, 255);
            margin-top: 20px;
            width: 100%;
            &:nth-child(2) {
                background: url(../img/rising/worker-bg320.png) no-repeat right bottom rgb(255, 255, 255);
            }
        }
        p {
            margin-top: 10px;
        }
    }
    .service {
        &__descrp {
            width: 104%;
        }
    }
    .slide-region_one,
    .slide-region_two {
        .region {
            padding: 20px 20px 0 20px;
            width: 100%;
            height: 780px;
            &_descrp {
                width: 240px;
            }
            &_hr {
                width: 227px;
                position: absolute;
                top: 278px;
            }
            &_subtitle-second {
                margin-top: 54px;
            }
            &_privilege {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                column-gap: 30px;
            }
            &_colum-one,
            &_colum-two {
                p {
                    width: 225px;
                }
            }
        }
    }
    .slide-region_two {
        .region {
            margin-top: 0;
            background: url(../img/region/russia-bg320.png) no-repeat right top rgb(255, 255, 255);
        }
    }
    .slide-region_one {
        .region {
            background: url(../img/region/region-bg320.png) no-repeat right top rgb(255, 255, 255);
            height: 642px;
            &_title {
                width: 155px;
            }
            &_hr {
                position: static;
            }
            &_descrp-second {
                margin-top: 10px;
            }
            &_privilege {
                grid-template-columns: 320px 262px;
            }
        }
    }
    .slide-region_three {
        .region {
            height: 584px;
            background: url(../img/region/product-managment-bg320.png) no-repeat right top rgb(255, 255, 255);
            &_list {
                li {
                    margin-top: 12.5px;
                }
            }
        }
    }
    .sale {
        &__block {
            width: 100%;
            height: 400px;
            padding: 20px 20px 0 20px;
            &_picture {
                width: 100%;
                height: auto;
            }
            &_descrp {
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
    .button {
        padding: 7px 20px;
        font-size: 14px;
        line-height: 19px;
        &_rising {
            height: 50px;
            width: 240px;
        }
        &_consultation {
            font-size: 16px;
            line-height: 22px;
            width: 100%;
        }
        &_region {
            Width: 240px;
            Height: 54px;
        }
    }
    .title {
        font-size: 14px;
        line-height: 20px;
        &_rising {
            width: 155px;
        }
    }
    .subtitle {
        font-size: 14px;
        line-height: 20px;
        &_sale {
            font-size: 14px;
            line-height: 25px;
        }
    }
}

// @media (max-width: 992px) {
//     .container {
//         background-color: rgb(0, 234, 251);
//         max-width: 720px;
//     }
// }
// @media (max-width: 768px) {
//     .container {
//         background-color: rgb(201, 4, 17);
//         max-width: 540px;
//     }
// }
// @media (max-width: 576px) {
//     .container {
//         background-color: rgb(0, 204, 150);
//         max-width: 100%;
//         padding: 0 10px;
//     }
// }