.menu {
    background-color: #fff;
    border: 6px solid rgba(94, 116, 145, 0.2);
    border-top: 8px solid rgba(94, 116, 145, 0.2);
    border-right: none;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
    position: absolute;
    height: 100%;
    max-width: 320px;
    transition: .4s;
    &__title {
        position: relative;
        padding-left: 30px;
        display: flex;
        align-items: center;
        width: 314px;
        height: 80px;
        background: $blue;
        h2 {
            display: block;
        }
        svg {
            position: absolute;
            top: calc(50% + 1px);
            right: 20px;
            transform: translateY(-50%);
        }
    }
    &__list {
        list-style: none
    }
    &__item {
        padding-left: 40px;
        display: flex;
        align-items: center;
        height: 60px;
        @include arrow;
        svg {
            margin-right: 20px;
        }
        a {
            text-decoration: none;
            font-family: 'Arial';
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color: $dark-blue;
        }
    }
    &__active {
        background: #F2FBFF;
        &::after {
            opacity: 0;
        }
        svg {
            path {
                fill: #028DD8;
            }
        }
    }
    &_zindex {
        z-index: 3;
    }
}