.sale {
    margin-top: 48px;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    &__block {
        background: #fff;
        position: relative;
        width: 351px;
        height: 433px;
        border: 1px solid #F2F4F7;
        box-shadow: 2.2px 4px 4px rgba(68, 118, 145, 0.16);
        border-radius: 5.4184px;
        padding: 40px 33px 0 40px;
        &_descrp {
            margin-top: 20px;
            font-size: 18px;
            line-height: 25px;
            color: #5E7491;
        }
        &_picture {
            width: 350px;
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: -2px;
            left: -1px;
        }
    }
}